<footer class="page-footer">
    <div class="container">
        <div class="page-footer__top">
            <div class="page-footer__col">
                <a href="#" class="page-footer__logo">
                    <img src="/images/shared/logo-white.webp" alt="" class="page-footer__logo-image">
                </a>
                <div class="page-footer__copyright">
                    2025, BIV
                </div>
            </div>
            <div class="page-footer__col">
                <nav class="page-footer__nav">
                    <ul class="page-footer__nav-list">
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                компания
                            </a>
                            <ul class="page-footer__nav-submenu-list">
                                <li class="page-footer__nav-submenu-list-item">
                                    <a href="#" class="page-footer__nav-submenu-link">
                                        о компании
                                    </a>
                                </li>
                                <li class="page-footer__nav-submenu-list-item">
                                    <a href="#" class="page-footer__nav-submenu-link">
                                        направления
                                    </a>
                                </li>
                                <li class="page-footer__nav-submenu-list-item">
                                    <a href="#" class="page-footer__nav-submenu-link">
                                        карьера
                                    </a>
                                </li>
                                <li class="page-footer__nav-submenu-list-item">
                                    <a href="#" class="page-footer__nav-submenu-link">
                                        портфолио
                                    </a>
                                </li>
                                <li class="page-footer__nav-submenu-list-item">
                                    <a href="#" class="page-footer__nav-submenu-link">
                                        блог
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                документы
                            </a>
                            <ul class="page-footer__nav-submenu-list">
                                <li class="page-footer__nav-submenu-list-item">
                                    <a href="#" class="page-footer__nav-submenu-link">
                                        политика конфиденциальности
                                    </a>
                                </li>
                                <li class="page-footer__nav-submenu-list-item">
                                    <a href="#" class="page-footer__nav-submenu-link">
                                        термины
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="page-footer__col page-footer__col--contacts">
                <div class="page-footer__address">
                    <p>
                        Москва, БизнесDepo, Илимская<br> ул. 5, корп. 2,127576
                    </p>
                    <p>
                        +7 (495) 228 19 42
                    </p>
                    <p>
                        info@bivgroup.com
                    </p>
                </div>
                <div class="page-footer__requisites page-footer__requisites--company page-footer__requisites--tablet-company">
                    <p>
                        Информация о компании:
                    </p>
                    <p>
                        ОГРН: 1107746323552
                    </p>
                    <p>
                        ИНН / КПП: 7726651929 /<br>
                    </p>
                    <p>
                        771501001ООО
                    </p>
                    <p>
                        "БИАЙВИ"
                    </p>
                </div>
            </div>
        </div>
        <div class="page-footer__bottom">
            <div class="page-footer__col page-footer__col--desktop-company-info">
                <div class="page-footer__requisites">
                    <p>
                        Информация о компании:
                    </p>
                    <p>
                        ОГРН: 1107746323552
                    </p>
                    <p>
                        ИНН / КПП: 7726651929 /<br>
                    </p>
                    <p>
                        771501001ООО
                    </p>
                    <p>
                        "БИАЙВИ"
                    </p>
                </div>
            </div>
            <div class="page-footer__col">
                <div class="page-footer__requisites">
                    <p>
                        Юр. адрес: 127576, Москва г, г. Москва, ул. Илимская, д. 5 корп. 2,
                    </p>
                    <p>
                        Фактический адрес:
                    </p>
                    <ul>
                        <li>
                            Москва, головной офис: 127576, г. Москва, ул. Илимская, д. 5 корп. 2
                        </li>
                        <li>
                            Санкт-Петербург: 191186, Санкт-Петербург, наб. канала Грибоедова, д. 5
                        </li>
                        <li>
                            Череповец: 162602, Череповец, Советский пр-т, 35
                        </li>
                        <li>
                            Казань: 420044, Казань, улица Короленко, 28Б
                        </li>
                        <li>
                            Рыбинск: 152901, Рыбинск, ул. Бородулина, 6А
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-footer__col">
                <div class="page-footer__requisites">
                    <p>
                        Основной код ОКВЭД: 62.0 (Разработка компьютерного программного обеспечения, консультационные
                        услуги в данной области и другие сопутствующие услуги). Стоимость услуг по разработке ПО на
                        заказ зависит от конкретных требований. Для получения информации о стоимости свяжитесь с нами по
                        почте: info@bivgroup.ru. Номер в Едином Реестре российского ПО: 19858. Для получения доступа к
                        платформе и руководствам свяжитесь с на по почте: info@bivgroup.ru.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
