<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="#" class="page-header__logo">
                <img src="/images/shared/logo.webp" alt="">
            </a>
            <button class="page-header__burger" type="button">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="page-header__menu">
                <nav class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-item">
                            <a href="#" class="page-header__nav-link">
                                О компании
                            </a>
                        </li>
                        <li class="page-header__nav-item">
                            <a href="#" class="page-header__nav-link">
                                Услуги
                            </a>
                        </li>
                        <li class="page-header__nav-item">
                            <a href="#" class="page-header__nav-link">
                                Решения
                            </a>
                        </li>
                        <li class="page-header__nav-item">
                            <a href="#" class="page-header__nav-link">
                                Технологии
                            </a>
                        </li>
                        <li class="page-header__nav-item">
                            <a href="#" class="page-header__nav-link">
                                Кейсы
                            </a>
                        </li>
                        <li class="page-header__nav-item">
                            <a href="#" class="page-header__nav-link">
                                Карьера
                            </a>
                        </li>
                        <li class="page-header__nav-item">
                            <a href="#" class="page-header__nav-link">
                                Блог
                            </a>
                        </li>
                        <li class="page-header__nav-item">
                            <a href="#" class="page-header__nav-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <a href="#" class="btn page-header__btn">
                Связаться
            </a>
        </div>
    </div>
</header>