@layer sections {
  .about {
    background-color: var(--primary-color);
    padding-top: 4.5rem;
    padding-bottom: 10rem;
    margin-top: -1px;

    @media (width <= 1366px) {
      padding-bottom: 9.7rem;
    }

    @media (width <= 1024px) {
      padding-bottom: 4.5rem;
    }

    @media (width <= 576px) {
      display: none;
    }
  }

  .about .secondary-heading {
    @media (width <= 1024px) {
      line-height: 90%;
      letter-spacing: -0.18rem;
    }
  }

  .about__subheading {
    margin-top: 1rem;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;

    @media (width <= 1024px) {
      max-width: 52rem;
      font-size: 2rem;
      line-height: 100%;
    }
  }

  .about__list {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-auto-rows: 0.1fr auto;
    margin-top: 4.8rem;

    @media (width <= 1366px) {
      grid-template-columns: 1fr 4.4rem 1fr 1fr 4.4rem 1fr;
      margin-top: 5rem;
    }

    @media (width <= 1024px) {
      grid-template-columns: 1fr 1.2rem 1fr 1fr 1.2rem 1fr;
      margin-top: 4.7rem;
    }
  }

  .about__item {
    margin-left: -1px;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;

    @media (width <= 1366px) {
      margin-left: 0;
    }

    &:nth-child(1) {
      margin-left: 0;

      .about__card {
        border-bottom-right-radius: 0;
      }

      @media (width <= 1366px) {
        .about__card {
          border-bottom-left-radius: 0;
        }
      }
    }

    &:nth-child(2) {
      grid-column: 3 / 4;

      .about__card {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:has(+ .about__item) {
        .about__card {
          border-top-right-radius: 0;
        }
      }

      @media (width <= 1366px) {
        .about__card {
          border-bottom-left-radius: 3rem;
        }
      }
    }

    &:nth-child(3) {
      @media (width <= 1366px) {
        grid-column: 4 / 5;
        margin-left: -1px;
      }

      .about__card {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }

    &:nth-child(4) {
      grid-column: 6 / 7;

      .about__card {
        border-bottom-left-radius: 0;
      }

      @media (width <= 1366px) {
        .about__card {
          border-bottom-right-radius: 0;
        }
      }
    }

    &:nth-child(5) {
      grid-column: 2 / 3;
      margin-top: -1px;
      grid-row: 3 / span 2;

      .about__card {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:has(+ .about__item) {
        .about__card {
          border-bottom-right-radius: 0;
        }
      }

      @media (width <= 1366px) {
        grid-column: 1 / 2;

        .about__card {
          border-bottom-right-radius: 3rem;
        }

        &:has(+ .about__item) {
          .about__card {
            border-bottom-right-radius: 3rem;
          }
        }
      }
    }

    &:nth-child(6) {
      margin-top: -1px;
      grid-row: 3 / span 2;
      grid-column: 3 / 4;

      @media (width <= 1366px) {
        grid-column: 4 / 5;
        margin-left: -1px;
      }

      .about__card {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      @media (width <= 1366px) {
        .about__card {
          border-bottom-left-radius: 3rem;
        }
      }
    }

    &:nth-child(7) {
      grid-column: 5 / 6;
      margin-top: -1px;
      grid-row: 3 / span 2;

      @media (width <= 1366px) {
        grid-column: 6 / 7;
      }

      .about__card {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  .about__card {
    border-radius: 3rem;
    border: 1px solid #002435;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;

    &::before {
      content: "";
      padding-bottom: 100%;
      grid-column: 1 / -1;
      grid-row: 1 / 3;
    }
  }

  .about__wrapper {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: subgrid;
    padding: 2rem;
  }

  .about__icon {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: flex-end;
    align-items: flex-start;
    object-fit: contain;
    width: 3.2rem;
    height: 3.2rem;

    @media (width <= 1366px) {
      width: 3.3rem;
      height: 3.3rem;
    }
  }

  .about__amount {
    font-size: 8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;

    @media (width <= 1366px) {
      line-height: 100%;
    }

    @media (width <= 1024px) {
      font-size: 6rem;
      line-height: 100%;
    }
  }

  .about__text {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    @media (width <= 1366px) {
      line-height: 100%;
    }

    @media (width <= 1024px) {
      font-size: 1.6rem;
      line-height: 100%;
    }

    &:only-child {
      margin-top: auto;
    }
  }

  .about__text-content {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}
