@layer sections {
  @scope (.about) {
    :scope {
      background-color: var(--primary-color);
      padding-top: 4.5rem;
      padding-bottom: 10rem;
    }

    .subheading {
      margin-top: 1rem;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 110%;
    }

    .list {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      grid-auto-rows: 1fr auto auto;
      margin-top: 4.8rem;
    }

    .item {
      margin-left: -1px;

      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 3;

      &:nth-child(1) {
        margin-left: 0;
        .card {
          border-bottom-right-radius: 0;
        }
      }

      &:nth-child(2) {
        grid-column: 3 / 4;
        .card {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        &:has(+ .item) {
          .card {
            border-top-right-radius: 0;
          }
        }
      }
      &:nth-child(3) {
        .card {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
      }
      &:nth-child(4) {
        grid-column: 6 / 7;
        .card {
          border-bottom-left-radius: 0;
        }
      }
      &:nth-child(5) {
        grid-column: 2 / 3;
        margin-top: -1px;
        grid-row: 4 / span 3;
        .card {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        &:has(+ .item) {
          .card {
            border-bottom-right-radius: 0;
          }
        }
      }

      &:nth-child(6) {
        margin-top: -1px;
        grid-row: 4 / span 3;
        grid-column: 3 / 4;
        .card {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
      &:nth-child(7) {
        grid-column: 5 / 6;
        margin-top: -1px;
        grid-row: 4 / span 3;

        .card {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }

    .card {
      border-radius: 3rem;
      border: 1px solid #002435;
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 3;
      align-content: space-between;

      &::before {
        content: "";
        padding-bottom: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 4;
      }
    }

    .wrapper {
      grid-column: 1 / -1;
      grid-row: 1 / 4;
      display: grid;
      grid-template-rows: subgrid;
      gap: 0.4rem;
      padding: 2rem;
    }

    .icon {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      justify-self: flex-end;
      align-items: flex-start;
      object-fit: contain;
      width: 3.2rem;
      height: 3.2rem;
    }

    .amount {
      font-size: 8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 90%;
      grid-row: 2 / 3;
      grid-column: 1 / -1;
    }

    .text {
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      grid-row: 3 / 4;
      grid-column: 1 / -1;
    }
  }
}
