@layer sections {
  .career {
    position: relative;
    z-index: 1;
    color: white;
    background-color: var(--primary-color);
  }

  .career__bg {
    position: absolute;
    inset: 0;
    z-index: -1;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgb(0 0 0 / 50%);
    }
  }

  .career__row {
    min-height: 87.8rem;
    padding: 11rem 0;
    display: flex;
    align-items: flex-start;
    gap: 3.2rem;
    justify-content: space-between;

    @media (width <= 1366px) {
      min-height: 80rem;
    }

    @media (width <= 1024px) {
      min-height: auto;
      padding: 8rem 0;
    }

    @media (width <= 576px) {
      padding-top: 5rem;
      padding-bottom: 2rem;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 2rem;
    }
  }

  .career__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    @media (width <= 576px) {
      display: contents;
    }
  }

  .career__right {
    width: 91rem;
    @media (width <= 1366px) {
      width: 85rem;
    }

    @media (width <= 1024px) {
      width: 51.4rem;
    }

    @media (width <= 576px) {
      display: contents;
    }
  }

  .career__list {
    display: flex;
    flex-direction: column;
    padding: 4rem 3.2rem;
    border-radius: 2.4rem;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    @media (width <= 1366px) {
      padding: 4rem 3rem;
    }

    @media (width <= 576px) {
      padding: 2rem;
      border-radius: 2rem;
    }
  }

  .career__list-item {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    &:last-child {
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }
  }

  .career__link {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    justify-content: space-between;
    padding: 1rem 0;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

    @media (width <= 1366px) {
      padding: 1rem 0;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
    }

    @media (width <= 1024px) {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
    }
  }

  .career__link-arrow {
    flex-shrink: 0;
    display: grid;
    place-items: center;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: #fff;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: #002435;
    }
  }

  .career__btn {
    @media (width <= 576px) {
      order: 40;
      margin-top: 3rem;
      align-self: stretch;
    }
  }
}
