@use "mixins" as *;

@layer sections {
  .cases-catalog {
    background-color: #f9fcff;
    padding-top: 3rem;
    padding-bottom: 6rem;

    @include tablet-only {
      padding-top: 6rem;
    }

    @include desktop-only {
      padding-top: 6rem;
    }

    @include mobile {
      padding-top: 5rem;
      padding-bottom: 2rem;
    }
  }

  .cases-catalog__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #9a9fa5;

    @include tablet-only {
      padding-left: 2rem;
      padding-right: max(0rem, calc(100% - 82.8rem));
    }

    @include mobile {
      gap: 1rem;
      padding-bottom: 2rem;
    }
  }

  .cases-catalog__category-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1rem;
    padding-top: 0.5rem;
    border: 1px solid #002435;
    border-radius: 20rem;
    color: #002435;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;
    transition:
      background-color 0.2s,
      color 0.2s;

    &--active {
      background-color: #002435;
      color: #ffffff;
      cursor: default;
    }

    @include tablet-only {
      padding: 0.8rem 1rem;
      border-radius: 2rem;
      font-size: 1.6rem;
      line-height: 120%;
    }

    @include mobile {
      padding: 0.8rem 1rem;
      border-radius: 2rem;
      font-size: 1.6rem;
      line-height: 120%;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: #002435;
        color: #ffffff;
      }
    }
  }

  .cases-catalog__item {
    border-bottom: 1px solid #9a9fa5;
  }

  .cases-catalog__accordion {
    display: grid;
    grid-template-columns: 1fr minmax(0, 56rem);
    grid-template-areas: "content image";
    justify-content: space-between;
    gap: 34.8rem;
    padding: 3rem 0;
    position: relative;

    @include desktop-only {
      grid-template-columns: 1fr 41.5rem;
      gap: 2rem;
    }

    @include tablet-only {
      grid-template-columns: minmax(0, 60rem) minmax(0, 36rem);
      gap: 2.4rem;
    }

    @include mobile {
      display: block;
      padding: 2rem 0;
    }
  }

  .cases-catalog__accordion-content {
    grid-area: content;
    display: flex;
    flex-direction: column;

    @include mobile {
      display: block;
    }

    &::before,
    &::after {
      content: "";
      height: 1px;
      width: 1px;
      flex-grow: 1;
      transition: flex-grow 0.8s;
    }

    @include mobile {
      &::before,
      &::after {
        display: none;
      }
    }
  }

  .cases-catalog__accordion-head {
    @include mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4rem;
    }
  }

  .cases-catalog__accordion-icon {
    display: none;

    @include mobile {
      width: 4rem;
      height: 4rem;
      flex-shrink: 0;
      border: 1px solid var(--text-color);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0.4rem;
      background-color: #fff;

      svg {
        width: 100%;
        height: 100%;
        fill: var(--text-color);
        transition: transform 0.2s;
      }
    }
  }

  .cases-catalog__accordion-title {
    display: block;
    color: #9a9fa5;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -0.1rem;
    transition: color 0.2s;

    @include tablet-only {
      color: #002435;
      font-size: 4rem;
      letter-spacing: -0.08rem;
      max-width: 60rem;
    }

    @include mobile {
      color: #002435;
      max-width: calc(100% - 8rem);
      font-size: 2rem;
      line-height: 100%;
      letter-spacing: -0.04rem;
    }
  }

  .cases-catalog__accordion.active .cases-catalog__accordion-title {
    color: #002435;
  }

  .cases-catalog__accordion.active .cases-catalog__accordion-content {
    &::before {
      flex-grow: 0;
      transition: flex-grow 0.4s;
    }
  }

  .cases-catalog__accordion.active .cases-catalog__accordion-icon {
    svg {
      transform: rotate(45deg);
    }
  }

  .cases-catalog__accordion-dropdown {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.6s;
  }

  .cases-catalog__accordion.active .cases-catalog__accordion-dropdown {
    grid-template-rows: 1fr;
  }

  .cases-catalog__accordion-inner {
    overflow: hidden;
  }

  .cases-catalog__accordion-body {
    max-width: 70rem;
    padding-top: 2rem;
    opacity: 0;
    transition: opacity 0.2s;
    position: relative;
    z-index: 5;

    @include desktop-only {
      padding-top: 1.6rem;
    }

    @include tablet-only {
      max-width: 60rem;
      padding-top: 1.6rem;
    }

    @include mobile {
      max-width: 100%;
      padding-top: 1.2rem;
    }
  }

  .cases-catalog__accordion.active .cases-catalog__accordion-body {
    opacity: 1;
    transition: opacity 0.2s ease 0.4s;
  }

  .cases-catalog__accordion-description {
    color: #002435;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    @include tablet-only {
      font-size: 1.6rem;
    }

    @include mobile {
      font-size: 1.4rem;
      line-height: 120%;
    }
  }

  .cases-catalog__accordion-link {
    display: inline-block;
    margin-top: 1.6rem;
    color: #002435;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration-line: underline;
    text-underline-offset: 0.2rem;

    @include tablet-only {
      font-size: 1.6rem;
      letter-spacing: -0.032rem;
    }

    @include mobile {
      margin-top: 1.2rem;
      font-size: 1.4rem;
      line-height: 120%;
      letter-spacing: normal;
    }
  }

  .cases-catalog__accordion-image {
    grid-area: image;
    width: 56rem;
    height: 15.3rem;
    border-radius: 13rem;
    overflow: hidden;
    transition:
      height 0.6s,
      border-radius 0.4s;
    position: relative;
    transform: translateZ(0);

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    @include desktop-only {
      width: 41.5rem;
      height: 12rem;
    }

    @include tablet-only {
      width: 36rem;
      height: 10rem;
    }
  }

  .cases-catalog__accordion-image--desktop {
    @include mobile {
      display: none;
    }
  }

  .cases-catalog__accordion-image--mobile {
    display: none;

    @include mobile {
      display: block;
      width: 100%;
      aspect-ratio: 320 / 252;
      height: auto;
      border-radius: 2rem;
      margin-top: 1.2rem;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  .cases-catalog__accordion.active .cases-catalog__accordion-image--desktop {
    height: 38.7rem;
    border-radius: 4rem;

    @include desktop-only {
      height: 33rem;
    }

    @include tablet-only {
      height: 28rem;
    }
  }

  .cases-catalog__accordion.active .cases-catalog__accordion-image--mobile {
    opacity: 1;
    transition: opacity 0.2s ease 0.4s;
  }

  .cases-catalog__accordion-toggle {
    position: absolute;
    inset: 0;
    z-index: 4;
  }
}
