@layer sections {
  .case-projects {
    padding-top: 11rem;
    padding-bottom: 8rem;

    @media (max-width: 1366px) {
      padding-bottom: 6rem;
    }

    @media (max-width: 1024px) and (min-width: 577px) {
      padding-top: 8rem;
      padding-bottom: 6.4rem;
    }
  }

  .case-projects__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 6rem;

    @media (max-width: 1366px) {
      margin-bottom: 3.1rem;
    }

    @media (max-width: 1024px) and (min-width: 577px) {
      margin-bottom: 3rem;
    }
  }

  .case-projects__heading {
    margin: 0;
    line-height: 94%;
  }

  .case-projects__controls {
    display: flex;
    align-items: center;
    gap: 1.3rem;
  }

  .case-projects__control {
    flex-shrink: 0;
    display: grid;
    place-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid #002435;
    transition:
      background-color 0.2s,
      border-color 0.2s;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: #002435;
      transition: fill 0.2s;
    }

    &.swiper-button-disabled {
      opacity: 0.5;
      cursor: default;
    }

    @media (hover: hover) and (pointer: fine) {
      &:not(.swiper-button-disabled):hover {
        background-color: var(--text-color);
        svg {
          fill: white;
        }
      }
    }
  }

  .case-projects__list {
    display: flex;
  }

  .case-projects__item {
    width: calc(33.33% - 2.5rem * 2 / 3);
    flex-shrink: 0;
    height: auto;
    box-sizing: border-box;
    margin-right: 2.5rem;

    @media (max-width: 1366px) {
      width: calc((100% - 4rem) / 3);
      margin-right: 2rem;
    }

    @media (max-width: 1024px) and (min-width: 577px) {
      width: 32rem;
      margin-right: 1.2rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .case-projects__slider {
    overflow: visible;
  }

  @media (max-width: 576px) {
    .case-projects {
      padding-top: 5rem;
      padding-bottom: 4rem;
    }

    .case-projects .container {
      display: flex;
      flex-direction: column;
    }

    .case-projects__top {
      display: contents;
      margin-bottom: 0;
    }

    .case-projects__heading {
      order: 1;
      margin-bottom: 2.8rem;
    }

    .case-projects__slider {
      order: 2;
    }

    .case-projects__controls {
      order: 3;
      margin-top: 2.4rem;
      justify-content: flex-start;
    }

    .case-projects__item {
      width: 30rem;
      margin-right: 2rem;
    }
  }
}
