@layer sections {
  .contact-us {
    padding-top: 6rem;
    background-color: #eeeeee;

    @media (width <= 1366px) {
      padding-bottom: 5rem;
    }
  }

  .contact-us__stack {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: "stack";
    width: 64rem;
    align-self: center;

    &::before {
      content: "";
      padding-bottom: 100%;
      border-radius: 50%;
      background-color: #fff;
      grid-area: stack;
    }
  }

  .contact-us__content {
    grid-area: stack;
    display: flex;
    flex-direction: column;
    padding-top: 6.4rem;
    text-align: center;
  }

  .contact-us__heading {
    font-size: 20rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -0.6rem;
    text-transform: uppercase;
    color: var(--primary-color);
    white-space: nowrap;
    align-self: center;
    margin-top: -3rem;

    @media (width <= 1024px) and (width > 576px) {
      font-size: 14rem;
      letter-spacing: -0.42rem;
      margin-top: 0;
    }
  }

  .contact-us__form {
    margin-top: 2rem;
    max-width: 39rem;
    align-self: center;
    width: 100%;

    @media (width <= 1024px) and (width > 576px) {
      margin-top: 6.9rem;
    }
  }

  .contact-us__form-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact-us__form-input {
    height: 3.5rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.028rem;
    border-bottom: 1px solid #c1c1c1;
    transition:
      border-color 0.2s,
      color 0.2s;

    &::placeholder {
      color: #c1c1c1;
    }

    &:focus {
      border-color: var(--text-color);
    }

    @media (width <= 1024px) and (width > 576px) {
      height: 3rem;
      line-height: 171.4286%;
      border-bottom-color: #b3b3b3;

      &::placeholder {
        color: rgba(77, 77, 77, 0.4);
      }
    }
  }

  textarea.contact-us__form-input {
    height: 7rem;
    padding-top: 0.4rem;

    @media (width <= 1024px) and (width > 576px) {
      height: 7.2rem;
      padding-top: 0;
    }
  }

  .contact-us__form-policy {
    margin-top: 2.7rem;

    @media (width <= 1366px) {
      margin-top: 2rem;
    }
  }

  .contact-us__form-policy-checkbox {
    display: flex;
    align-items: flex-start;
    gap: 0.6rem;
    cursor: pointer;
  }

  .contact-us__form-policy-checkbox-input {
    display: none;
  }

  .contact-us__form-policy-checkbox-mark {
    flex-shrink: 0;
    width: 1.8rem;
    height: 1.8rem;
    display: grid;
    place-items: center;
    border: 1px solid rgba(0, 36, 53, 0.8);

    &::before {
      content: "";
      width: 1rem;
      height: 1rem;
      background-color: var(--text-color);
      opacity: 0;
      transition: opacity 0.2s;
    }

    .contact-us__form-policy-checkbox-input:checked ~ & {
      &::before {
        opacity: 1;
      }
    }

    @media (width <= 1024px) and (width > 576px) {
      border-color: rgba(0, 0, 0, 0.8);
    }
  }

  .contact-us__form-policy-checkbox-text {
    align-self: center;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.024rem;
    color: rgba(0, 36, 53, 0.8);
    text-align: left;
    a {
      font-weight: 700;
    }

    @media (width <= 1024px) and (width > 576px) {
      align-self: flex-start;
      color: rgba(0, 0, 0, 0.8);
    }
  }

  .contact-us__form-submit {
    margin-top: 1.2rem;
    width: 100%;

    @media (width <= 1024px) and (width > 576px) {
      height: 4.8rem;
      border-radius: 2.4rem;
      font-size: 1.6rem;
      line-height: 150%;
      letter-spacing: -0.032rem;
      padding-block: 0;
      padding-inline: 2.4rem;
    }
  }

  @media (width <= 576px) {
    .contact-us {
      padding-top: 4.6rem;
      padding-bottom: 0;
    }

    .contact-us__stack {
      width: 52.1rem;
    }

    .contact-us__content {
      padding-top: 7.8rem;
    }

    .contact-us__heading {
      margin-top: 0;
      font-size: 6.4rem;
      letter-spacing: -0.192rem;
    }

    .contact-us__form {
      margin-top: 3rem;
      max-width: 32rem;
    }

    .contact-us__form-input {
      height: 3rem;

      border-bottom-color: #b3b3b3;

      &::placeholder {
        color: rgba(77, 77, 77, 0.4);
      }
    }

    textarea.contact-us__form-input {
      height: 7.2rem;
      padding-top: 0;
    }

    .contact-us__form-policy {
      margin-top: 2rem;
    }

    .contact-us__form-policy-checkbox-text {
      align-self: flex-start;

      color: rgba(0, 0, 0, 0.8);
    }

    .contact-us__form-submit {
      margin-top: 1.1rem;
      width: 100%;
      height: 4rem;
      border-radius: 2.4rem;
      font-size: 1.4rem;
      line-height: 100%;
      letter-spacing: -0.028rem;
      padding-block: 0;
      padding-inline: 1.6rem;
    }
  }
}
