@layer sections {
  .intro {
    background-color: var(--primary-color);
    position: relative;
    z-index: 1;
  }

  .intro__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .intro__content {
    min-height: calc(100svh - var(--header-height, 0));
    display: flex;
    flex-direction: column;
  }

  .intro__text {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;

    @media (width <= 576px) {
      max-width: 26.8rem;
      font-size: 1.6rem;
    }
  }
}
