@layer sections {
  .intro {
    padding-top: 4rem;
    background-color: var(--primary-color);
    padding-bottom: 2.7rem;
  }

  .intro__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.4rem;
  }

  .intro__circle {
    aspect-ratio: 1;
    width: 76rem;
    max-width: 100%;
    display: grid;
    place-items: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    isolation: isolate;
  }

  .intro__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .intro__logo {
    width: 28rem;
    height: auto;
  }

  .intro__text {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }
}
