@layer sections {
  .intro {
    padding-top: 4rem;
    background-color: var(--primary-color);
    padding-bottom: 2.7rem;

    @media (width <= 576px) {
      padding-top: 12.35rem;
      padding-bottom: 19.3rem;
    }
  }

  .intro .container {
    @media (width <= 576px) {
      padding-inline: 1.2rem;
    }
  }

  .intro__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.4rem;

    @media (width <= 576px) {
      gap: 1.2rem;
    }
  }

  .intro__circle {
    aspect-ratio: 1;
    width: 76rem;
    max-width: 100%;
    display: grid;
    place-items: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    isolation: isolate;

    @media (width <= 576px) {
      width: 33.6rem;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 50%;
      pointer-events: none;
      z-index: 0;

      @media (width <= 576px) {
        inset: 0.8rem;
        background: rgb(0 0 0 / 20%);
      }
    }
  }

  .intro__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    @media (width <= 576px) {
      left: 0.8rem;
      top: 0.8rem;
      width: calc(100% - 1.6rem);
      height: calc(100% - 1.6rem);
      border-radius: 50%;
      object-position: 54% 50%;
    }
  }

  .intro__logo {
    width: 28rem;
    height: auto;
    position: relative;
    z-index: 1;

    @media (width <= 576px) {
      width: 11.76rem;
    }
  }

  .intro__text {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;

    @media (width <= 576px) {
      max-width: 26.8rem;
      font-size: 1.6rem;
    }
  }
}
