@layer sections {
  .news {
    padding-top: 11rem;
    padding-bottom: 8rem;
    background-color: white;
    @media (width <= 1024px) {
      display: none;
    }
  }

  .news__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
    margin-bottom: 3.1rem;
  }

  .news__heading {
    font-size: 8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 94%;
    letter-spacing: -0.16rem;
    text-transform: uppercase;
    color: var(--text-color);
  }

  .news__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }

  .news__item {
    display: flex;
  }

  .news__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #0c151f;
  }

  .news__card-image-wrapper {
    aspect-ratio: 590 / 428;
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
  }

  .news__card-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .news__card-title,
  .news__card-date {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.072rem;
  }

  .news__card-title {
    margin-top: 1.5rem;
  }

  .news__card-date {
    margin-top: 1.5rem;
  }
}
