@layer sections {
  .news {
    padding-top: 11rem;
    padding-bottom: 8rem;
    background-color: white;
    @media (width <= 1366px) {
      padding-bottom: 11rem;
    }
    @media (width <= 1024px) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }

  .news__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
    margin-bottom: 3.1rem;
    @media (width <= 1366px) {
      margin-bottom: 3rem;
    }
  }

  .news__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    @media (width <= 1366px) {
      gap: 2rem;
    }
  }

  .news__item {
    display: flex;
  }

  .news__card {
    display: flex;
    flex-direction: column;
  }

  .news__card-image-wrapper {
    aspect-ratio: 590 / 428;
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
  }

  .news__card-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
  }

  .news__card-title,
  .news__card-date {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.072rem;
    @media (width <= 1024px) {
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 700;
      line-height: 90%;
      letter-spacing: -0.054rem;
    }
  }

  .news__card-title {
    margin-top: 1.5rem;
  }

  .news__card-date {
    margin-top: 1.5rem;
  }

  .news__more-link {
    @media (width <= 1366px) {
      padding: 1.2rem 1.8rem;
      border-radius: 3rem;
      line-height: normal;
    }
  }
}
