@layer sections {
  .platform {
    padding-top: 6.7rem;
    padding-bottom: 8rem;
  }
  .platform__heading {
    align-self: center;
    text-align: center;
  }

  .platform__subheading {
    text-align: center;
    align-self: center;
    margin-top: 1rem;
  }

  .platform__slider {
    margin-top: 4rem;
  }

  .platform__slider-wrapper {
    .swiper {
      overflow: visible;
    }

    .swiper-wrapper {
      display: flex;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      height: auto;
      box-sizing: border-box;
      width: 47rem;
    }
  }

  .platform__slider-card {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: "stack";
    border-radius: 4rem;
    overflow: hidden;
    color: #e7f5ff;

    &:link,
    &:visited {
      color: #e7f5ff;
    }
    &::before {
      content: "";
      display: block;
      grid-area: stack;
      padding-bottom: 134%;
    }
  }

  .platform__slider-card-bg {
    grid-area: stack;
    position: relative;
    background-color: var(--primary-color);

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .platform__slider-card-content {
    grid-area: stack;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-align: center;
    padding: 5.5rem 2rem;
    align-self: flex-end;
    z-index: 5;
  }

  .platform__slider-card-title {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
  }

  .platform__slider-card-text {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}
