@layer sections {
  .platform {
    padding-top: 6.7rem;
    padding-bottom: 8rem;

    @media (width <= 1366px) {
      padding-bottom: 4rem;
      padding-top: 7rem;
    }
  }
  .platform__heading {
    align-self: center;
    text-align: center;
  }

  .platform__subheading {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-align: center;
    align-self: center;
    margin-top: 1rem;
  }

  .platform__slider {
    margin-top: 4rem;
    @media (width <= 1366px) {
      margin-top: 3rem;
    }
  }

  .platform__slider-controls {
    margin-top: 4.4rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    @media (width <= 1366px) {
      margin-top: 4rem;
      gap: 1rem;
    }
  }

  .platform__slider-arrow {
    flex-shrink: 0;
    display: grid;
    place-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid #002435;
    transition:
      background-color 0.2s,
      border-color 0.2s;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: #002435;
      transition: fill 0.2s;
    }

    @media (hover: hover) and (pointer: fine) {
      &:not(.swiper-button-disabled):hover {
        background-color: var(--text-color);
        svg {
          fill: white;
        }
      }
    }
  }

  .platform__slider-pagination {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 94%;
    letter-spacing: -0.048rem;
    text-align: center;
    text-transform: uppercase;
    min-width: 6rem;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .platform__slider-wrapper {
    perspective: 180rem;

    .swiper {
      overflow: visible;
    }

    .swiper-wrapper {
      display: flex;
      transform-style: preserve-3d;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      height: auto;
      box-sizing: border-box;
      width: 47rem;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      margin: 0 2rem;
    }
  }

  .platform__slider-card {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: "stack";
    border-radius: 4rem;
    overflow: hidden;
    color: #e7f5ff;

    &:link,
    &:visited {
      color: #e7f5ff;
    }
    &::before {
      content: "";
      display: block;
      grid-area: stack;
      padding-bottom: 134%;
    }
  }

  .platform__slider-card-bg {
    grid-area: stack;
    position: relative;
    background-color: var(--primary-color);

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .platform__slider-card-content {
    grid-area: stack;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-align: center;
    padding: 5.5rem 2rem;
    align-self: flex-end;
    z-index: 5;
  }

  .platform__slider-card-title {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
  }

  .platform__slider-card-text {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}
