@layer sections {
  .portfolio {
    padding-top: 11rem;
    padding-bottom: 10rem;

    @media (width <= 1366px) {
      padding-bottom: 8rem;
    }

    @media (width <= 1024px) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

    @media (width <= 576px) {
      padding-top: 5rem;
      padding-bottom: 3rem;
    }
  }

  .portfolio__top {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    justify-content: space-between;
    margin-bottom: 3.4rem;

    @media (width <= 1366px) {
      margin-bottom: 4rem;
    }

    @media (width <= 1024px) {
      margin-bottom: 3rem;
    }

    @media (width <= 576px) {
      display: contents;
    }
  }

  .portfolio__slider {
    @media (width <= 576px) {
      margin-top: 3rem;
    }
    .swiper {
      overflow: visible;
    }

    .swiper-wrapper {
      gap: 1.2rem;
      @media (width > 576px) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      @media (width <= 1366px) {
        gap: 2rem;
      }

      @media (width <= 1024px) {
        gap: 1.2rem;
      }

      @media (width <= 576px) {
        gap: 0;
      }
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      height: auto;
      box-sizing: border-box;

      @media (width <= 576px) {
        width: 30rem;
        margin-right: 1rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .portfolio__btn {
    @media (width <= 1366px) {
      display: none;
    }
  }

  .portfolio__item {
    display: flex;
    flex-direction: column;
  }

  .portfolio__slider-controls {
    display: none;

    @media (width <= 576px) {
      margin-top: 2.4rem;
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }

  .portfolio__slider-arrow {
    flex-shrink: 0;
    display: grid;
    place-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid #002435;
    transition:
      background-color 0.2s,
      border-color 0.2s,
      opacity 0.2s;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: #002435;
      transition: fill 0.2s;
    }

    &.swiper-button-disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    @media (hover: hover) and (pointer: fine) {
      &:not(.swiper-button-disabled):hover {
        background-color: var(--text-color);

        svg {
          fill: white;
        }
      }
    }
  }
}
