@layer sections {
  .portfolio {
    padding-top: 11rem;
    padding-bottom: 10rem;

    @media (width <= 1366px) {
      padding-bottom: 8rem;
    }

    @media (width <= 1024px) {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

    @media (width <= 576px) {
      display: none;
    }
  }

  .portfolio__top {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    justify-content: space-between;
    margin-bottom: 3.4rem;

    @media (width <= 1366px) {
      margin-bottom: 4rem;
    }

    @media (width <= 1024px) {
      margin-bottom: 3rem;
    }
  }

  .portfolio__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.2rem;
    @media (width <= 1366px) {
      gap: 2rem;
    }

    @media (width <= 1024px) {
      gap: 1.2rem;
    }
  }

  .portfolio__btn {
    @media (width <= 1366px) {
      display: none;
    }
  }

  .portfolio__item {
    display: flex;
    flex-direction: column;
  }
}
