@layer sections {
  .team {
    background: #f9fcff;
    padding-top: 10rem;
    padding-bottom: 5rem;
    @media (width <= 1366px) {
      padding-bottom: 3rem;
    }
    @media (width <= 1024px) {
      padding-top: 8rem;
    }
  }

  .team__row {
    display: flex;
    align-items: flex-start;
    gap: 3.2rem;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .team__bg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1365 / 600;
    width: 100vw;
    width: 100svw;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (width <= 576px) {
    .team {
      padding-top: 7rem;
      padding-bottom: 2rem;
    }

    .team__row {
      display: contents;
    }

    .team__row .secondary-heading {
      width: 19.4rem;
      margin-bottom: 4rem;
    }

    .team__bg {
      order: 2;
      width: 100vw;
      width: 100svw;
      aspect-ratio: 360 / 288;
    }

    .team__row .btn {
      order: 3;
      width: 100%;
      max-width: 32rem;
      margin-top: 1.8rem;
      font-size: 1.4rem;
      height: 4rem;
      padding: 1rem 2rem;
      line-height: 120%;
      align-self: center;
    }
  }
}
