@layer sections {
  .team {
    background: #f9fcff;

    padding-top: 4.3rem;
    padding-bottom: 5rem;
  }

  .team__inner {
    padding: 5.6rem 0;
    position: relative;
    isolation: isolate;
    aspect-ratio: 1920 / 957;
  }

  .team__bg {
    position: absolute;
    inset: 0;
    z-index: -1;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .team__row {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    justify-content: space-between;
  }
}
