@layer sections {
  .team {
    background: #f9fcff;
    padding-top: 10rem;
    padding-bottom: 5rem;
    @media (width <= 1366px) {
      padding-bottom: 3rem;
    }
  }

  .team__row {
    display: flex;
    align-items: flex-start;
    gap: 3.2rem;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .team__bg {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1365 / 600;
    width: 100vw;
    width: 100svw;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
