@layer sections {
  @scope (.team) {
    :scope {
      margin-top: 4.2rem;
      aspect-ratio: 1920 / 957;
      position: relative;
      isolation: isolate;
      padding: 5.6rem 0;
    }

    .bg {
      position: absolute;
      inset: 0;
      z-index: -1;
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .row {
      display: flex;
      align-items: center;
      gap: 3.2rem;
      justify-content: space-between;
    }
  }
}
