@layer sections {
  .technologies {
    background-color: var(--primary-color);
  }

  .technologies__content {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: "stack";

    & > * {
      grid-area: stack;
    }
  }

  .technologies__orb {
    width: 100%;
    max-width: 81.1rem;
    justify-self: center;
    align-self: center;
    place-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: "stack";
    margin: 3.5rem 0;

    img {
      mix-blend-mode: overlay;
      width: 100%;
      height: auto;
    }

    & > * {
      grid-area: stack;
    }
  }

  .technologies__heading {
    z-index: 20;
    position: relative;
  }

  .technologies__cloud {
    position: relative;
    width: 100vw;
    width: 100svw;
    min-width: 192rem;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1920 / 800;

    list-style: none;
    margin: 0;
    padding: 0;
  }

  .technologies__cloud-item {
    /* исходные данные из макета */
    --x: 640; /* центр по X в px (из макета 1920) */
    --y: 320; /* центр по Y в px (из макета) */
    --d: 100; /* диаметр круга в px */

    /* размеры макета */
    --mw: 1920;
    --mh: 800;
    --b-width: 0.2rem;
    --bg: var(--primary-color);
    position: absolute;
    border-radius: 50%;
    border: var(--b-width) solid #2bf4fc;
    background-color: var(--bg);
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 94%;
    letter-spacing: -0.04rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    left: calc((var(--x) + var(--d) / 2) / var(--mw) * 100%);
    top: calc((var(--y) + var(--d) / 2) / var(--mh) * 100%);
    transform: translate(-50%, -50%);
    width: calc(var(--d) / var(--mw) * 100%);
    padding: 2rem;

    &:nth-child(1) {
      --d: 142;
      --x: 157;
      --y: 252;
    }

    &:nth-child(2) {
      --d: 142;
      --x: 221;
      --y: 403;
    }

    &:nth-child(3) {
      --d: 142;
      --x: 375;
      --y: 339;
    }

    &:nth-child(4) {
      --d: 142;
      --x: 363;
      --y: 507;
    }

    &:nth-child(5) {
      --d: 100;
      --x: 573;
      --y: 442;
    }

    &:nth-child(6) {
      --d: 142;
      --x: 440;
      --y: 171;
    }

    &:nth-child(7) {
      --d: 142;
      --x: 603;
      --y: 84;
    }

    &:nth-child(8) {
      --d: 100;
      --x: 786;
      --y: 207;
      --b-width: 1px;
    }

    &:nth-child(9) {
      --d: 72;
      --x: 938;
      --y: 302;
      --b-width: 1px;
    }

    &:nth-child(10) {
      --d: 142;
      --x: 1069;
      --y: 10;
    }

    &:nth-child(11) {
      --d: 142;
      --x: 1211;
      --y: 97;
      --bg: transparent;
      --b-width: 0.3rem;
    }

    &:nth-child(12) {
      --d: 142;
      --x: 1096;
      --y: 206;
    }

    &:nth-child(13) {
      --d: 100;
      --x: 1394;
      --y: 202;
      --b-width: 1px;
    }

    &:nth-child(14) {
      --d: 142;
      --x: 1573;
      --y: 186;
    }

    &:nth-child(15) {
      --d: 72;
      --x: 1356;
      --y: 303;
      --b-width: 1px;
    }

    &:nth-child(16) {
      --d: 142;
      --x: 1431;
      --y: 313;
    }

    &:nth-child(17) {
      --d: 100;
      --x: 1262;
      --y: 422;
    }

    &:nth-child(18) {
      --d: 142;
      --x: 1549;
      --y: 421;
    }

    &:nth-child(19) {
      --d: 105;
      --x: 1431;
      --y: 575;
    }

    &:nth-child(20) {
      --d: 145;
      --x: 830;
      --y: 511;
      --b-width: 1px;
    }

    &:nth-child(21) {
      --d: 142;
      --x: 607;
      --y: 592;
      --bg: transparent;
      --b-width: 0.3rem;
    }

    &:nth-child(22) {
      --d: 142;
      --x: 985;
      --y: 572;
    }

    &:nth-child(23) {
      --d: 142;
      --x: 1155;
      --y: 640;
      --b-width: 0.3rem;
      --bg: transparent;
    }
  }

  @media (width <= 1024px) and (width > 576px) {
    .technologies {
      overflow: hidden;
    }

    .technologies__orb {
      margin: 3.7rem 0 3.6rem;
    }

    .technologies__cloud {
      width: 100vw;
      min-width: auto;
      aspect-ratio: 1025 / 800;
    }

    .technologies__cloud-item {
      --mw: 1025;
      --mh: 800;

      &:nth-child(1) {
        --d: 142;
        --x: -101;
        --y: 172;
      }

      &:nth-child(2) {
        --d: 100;
        --x: 704;
        --y: 409;
        --b-width: 1px;
      }

      &:nth-child(3) {
        --d: 142;
        --x: 129;
        --y: 328;
      }

      &:nth-child(4) {
        --d: 142;
        --x: 339;
        --y: 589;
      }

      &:nth-child(5) {
        --d: 100;
        --x: 283;
        --y: 424;
        --b-width: 1px;
      }

      &:nth-child(6) {
        --d: 142;
        --x: 1102;
        --y: 421;
      }

      &:nth-child(7) {
        --d: 142;
        --x: 283;
        --y: 9;
      }

      &:nth-child(8) {
        --d: 100;
        --x: 339;
        --y: 207;
        --b-width: 1px;
      }

      &:nth-child(9) {
        --d: 72;
        --x: 500;
        --y: 271;
        --b-width: 1px;
      }

      &:nth-child(10) {
        --d: 142;
        --x: 622;
        --y: 9;
      }

      &:nth-child(11) {
        --d: 142;
        --x: 764;
        --y: 97;
        --bg: transparent;
      }

      &:nth-child(12) {
        --d: 142;
        --x: 649;
        --y: 206;
      }

      &:nth-child(13) {
        --d: 100;
        --x: 861;
        --y: 238;
        --b-width: 1px;
      }

      &:nth-child(14) {
        --d: 142;
        --x: 1126;
        --y: 186;
      }

      &:nth-child(15) {
        --d: 72;
        --x: 839;
        --y: 462;
        --b-width: 1px;
      }

      &:nth-child(16) {
        --d: 142;
        --x: 913;
        --y: 344;
      }

      &:nth-child(17) {
        --d: 142;
        --x: 70;
        --y: 168;
      }

      &:nth-child(18) {
        --d: 142;
        --x: 707;
        --y: 634;
        --b-width: 0.3rem;
        --bg: transparent;
      }

      &:nth-child(19) {
        --d: 142;
        --x: 894;
        --y: 531;
      }

      &:nth-child(20) {
        --d: 100;
        --x: 456;
        --y: 489;
        --b-width: 1px;
      }

      &:nth-child(21) {
        --d: 142;
        --x: -51;
        --y: 338;
      }

      &:nth-child(22) {
        --d: 142;
        --x: 520;
        --y: 557;
      }

      &:nth-child(23) {
        --d: 142;
        --x: 108;
        --y: 528;
        --b-width: 0.3rem;
        --bg: transparent;
      }
    }
  }

  @media (width <= 576px) {
    .technologies {
      overflow: hidden;
      width: 100%;
      aspect-ratio: 9 / 17;
    }

    .technologies__orb {
      width: 48.7rem;
      max-width: none;
      margin: 0;
    }

    .technologies__cloud {
      min-width: auto;
      aspect-ratio: 375 / 800;
    }

    .technologies__cloud-item {
      --mw: 375;
      --mh: 800;
      --b-width: 0.2rem;
      font-size: 1.6rem;
      letter-spacing: -0.032rem;
      padding: 0.6rem;

      &:nth-child(n) {
        --bg: var(--primary-color);
      }

      &:nth-child(1) {
        --d: 68;
        --x: 314;
        --y: 436;
        --b-width: 1px;
      }

      &:nth-child(2) {
        --d: 105;
        --x: 141;
        --y: 102;
      }

      &:nth-child(3) {
        --d: 96;
        --x: 284;
        --y: 542;
      }

      &:nth-child(4) {
        --d: 99;
        --x: 197;
        --y: 525;
        --b-width: 3px;
      }

      &:nth-child(5) {
        --d: 80;
        --x: 315;
        --y: 344;
        --b-width: 1px;
      }

      &:nth-child(6) {
        --d: 102;
        --x: 392;
        --y: 242;
        --b-width: 3px;
      }

      &:nth-child(7) {
        --d: 72;
        --x: 198;
        --y: 209;
        --b-width: 1px;
      }

      &:nth-child(8) {
        --d: 72;
        --x: 122;
        --y: 252;
        --b-width: 1px;
      }

      &:nth-child(9) {
        --d: 93;
        --x: 193;
        --y: 416;
      }

      &:nth-child(10) {
        --d: 109;
        --x: 68;
        --y: 388;
      }

      &:nth-child(11) {
        --d: 87;
        --x: -59;
        --y: 460;
        --b-width: 1px;
      }

      &:nth-child(12) {
        --d: 83;
        --x: -50;
        --y: 347;
        --b-width: 1px;
      }

      &:nth-child(13) {
        --d: 106;
        --x: 56;
        --y: 2;
      }

      &:nth-child(14) {
        --d: 104;
        --x: 136;
        --y: 607;
      }

      &:nth-child(15) {
        --d: 122;
        --x: 244;
        --y: 44;
      }

      &:nth-child(16) {
        --d: 108;
        --x: 284;
        --y: 171;
      }

      &:nth-child(17) {
        --d: 142;
        --x: -564;
        --y: 403;
        font-size: 2rem;
        letter-spacing: -0.04rem;
      }

      &:nth-child(18) {
        --d: 115;
        --x: -43;
        --y: 111;
      }

      &:nth-child(19) {
        --d: 105;
        --x: -114;
        --y: 230;
      }

      &:nth-child(20) {
        --d: 142;
        --x: -628;
        --y: 252;
        font-size: 2rem;
        letter-spacing: -0.04rem;
      }

      &:nth-child(21) {
        --d: 117;
        --x: 24;
        --y: 521;
      }

      &:nth-child(22) {
        --d: 92;
        --x: 42;
        --y: 652;
        --b-width: 3px;
      }

      &:nth-child(23) {
        --d: 81;
        --x: 20;
        --y: 226;
        --b-width: 1px;
      }
    }
  }
}
