@use "mixins" as *;

@layer tokens {
  :root {
    --text-color: #002435;
    --primary-color: #17a5e4;
    --bg-color: #f9fcff;
    --career-reasons-bg: #bbe2fe;
    --career-reasons-card-color: #17a5e4;
    --career-team-bg: #17a5e4;

    @include desktop {
      --primary-color: #1caded;
    }
  }
}
