@use "mixins" as *;

@layer tokens {
  :root {
    --text-color: #002435;
    --primary-color: #17a5e4;
    --bg-color: #f9fcff;
    --career-reasons-bg: #bbe2fe;
    --career-reasons-card-color: #17a5e4;
    --career-work-bg: #17a5e4;
    --career-team-bg: #17a5e4;
    --career-stories-focus-color: #17a5e4;
    --career-stories-card-color: #bbe2fe;
    --career-support-bg: #17a5e4;
    --career-support-card-color: #e7f5ff;
    --career-support-text-color: #00123c;

    @include desktop {
      --primary-color: #1caded;
    }
  }
}
