@layer tokens {
  :root {
    --container-padding: 5rem;
    --container-max-width: 182rem;
    --header-height: 8rem;

    @media (width <= 1366px) {
      --container-padding: 4rem;
    }
    @media (width <= 1024px) {
      --container-padding: 2rem;
    }

    @media (width <= 576px) {
      --container-padding: 2rem;
    }
  }
}
