@layer base {
  html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    font-size: clamp(2px, calc(1px + 0.47vw), 125px);

    @media (width <= 576px) {
      font-size: 10px;
    }
  }

  body {
    font-size: 1.6rem;
    line-height: 1.2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overscroll-behavior: none;
    font-family: var(--pragmatica);
    color: var(--text-color);
    background-color: var(--bg-color);
  }

  :where(a, button) {
    transition:
      background-color 0.2s,
      color 0.2s,
      border-color 0.2s;
  }

  ::selection {
    color: var(--bg-color);
    background-color: var(--primary-color);
    -webkit-text-fill-color: var(--bg-color);
  }
}
