@layer reset {
  *,
  *::after,
  *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }

  input,
  textarea {
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
    box-shadow: none;
    width: 100%;
    background-color: transparent;
    display: block;
  }

  textarea {
    resize: none;
    box-shadow: none;
    display: block;
    width: 100%;
    field-sizing: content;
    height: auto;
  }

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    appearance: none;
    font: inherit;
    color: inherit;
    outline: none;
    display: block;
    text-align: left;
    flex-shrink: 0;
  }

  :where(a) {
    color: inherit;
    text-decoration: none;
    &:link,
    &:visited {
      color: currentColor;
    }
  }

  ul,
  ol {
    list-style: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  hr {
    border: 0;
  }

  fieldset,
  legend {
    border: 0;
    padding: 0;
    min-inline-size: 0;
  }

  svg {
    display: block;
  }

  img {
    border-style: none;
    max-width: 100%;
    height: auto;
    display: block;
  }

  picture {
    display: contents;
  }
}
