@layer components {
  @scope (.portfolio-card) {
    :scope {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 3rem;
      border-radius: 2.4rem;
      background: #eee;
      color: var(--text-color);
      aspect-ratio: 598 / 801;
      gap: 3.2rem;
      transition:
        color 0.2s,
        background-color 0.2s;

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: var(--primary-color);
          .arrow {
            background-color: white;
            svg {
              fill: var(--primary-color);
            }
          }

          img.hovered {
            opacity: 1;
          }
        }
      }
    }

    .top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 3.2rem;
    }

    .title {
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 110%;
    }

    .arrow {
      flex-shrink: 0;
      border-radius: 50%;
      background-color: var(--primary-color);
      width: 4rem;
      height: 4rem;
      transition: background-color 0.2s;

      svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: white;
        transition: fill 0.2s;
      }
    }
    .image {
      aspect-ratio: 538 / 591;
      overflow: hidden;
      position: relative;
      border-radius: 1.2rem;
      margin-top: auto;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.2s;
        &.hovered {
          opacity: 0;
          z-index: 10;
        }
      }
    }
  }
}
