<div class="services__accordion{{#if isReversed}} services__accordion--reverse{{/if}} js-accordion">
    <div class="services__accordion-content">
        <div class="services__accordion-head">
            <div class="services__accordion-title">
                {{ title }}
            </div>
            <div class="services__accordion-icon" aria-hidden="true">
                <svg width="14" height="14">
                    <use xlink:href="#arrows/right"></use>
                </svg>
            </div>
        </div>
        <div class="services__accordion-dropdown js-accordion-dropdown">
            <div class="services__accordion-inner">
                <div class="services__accordion-body">
                    <div class="services__accordion-desc">
                        <ul>
                            {{#each items}}
                                <li>
                                    {{ this }}
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="services__accordion-image services__accordion-image--mobile">
                        <img src="{{ image }}" alt=""{{#if imageOffset}} style="--y-offset: {{ imageOffset }};"{{/if}}>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services__accordion-image services__accordion-image--desktop">
        <img src="{{ image }}" alt=""{{#if imageOffset}} style="--y-offset: {{ imageOffset }};"{{/if}}>
    </div>
    <button class="services__accordion-toggle js-accordion-btn"></button>
</div>
