@layer layout {
  .container {
    width: 100%;
    max-width: calc(
      var(--container-max-width) + (var(--container-padding) * 2)
    );
    margin-inline: auto;
    padding-inline: var(--container-padding);
    display: flex;
    flex-direction: column;
  }
}
