@layer layout {
  .page-footer {
    background-color: #eeeeee;
    padding: 2rem 0;
  }

  .page-footer__bottom,
  .page-footer__top {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.2rem;
  }

  .page-footer__bottom {
    align-items: flex-end;
    margin-top: 2rem;
  }

  .page-footer__col {
    display: flex;
    flex-direction: column;
  }

  .page-footer__requisites--tablet-company {
    display: none;
  }

  .page-footer__mobile-brand {
    display: none;
  }

  .page-footer__logo {
    width: 12.6rem;
  }

  .page-footer__logo-image {
    display: block;
    width: 100%;
    height: auto;
  }

  .page-footer__copyright {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.054rem;
    color: #7d838a;
    margin-top: 1.7rem;
  }

  .page-footer__nav {
    display: block;
  }

  .page-footer__nav-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.6rem;
  }

  .page-footer__nav-list-item {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }

  .page-footer__nav-link {
    display: block;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.054rem;
  }
  .page-footer__nav-submenu-list {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .page-footer__nav-submenu-link {
    display: block;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    color: #7d838a;
    line-height: 120%;
    letter-spacing: -0.054rem;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--text-color);
      }
    }
  }

  .page-footer__address {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.054rem;
    color: #7d838a;
  }

  .page-footer__requisites {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.028rem;
    color: #7d838a;

    ul {
      li {
        position: relative;
        padding-left: 2rem;

        &::before {
          content: "•";
          position: absolute;
          font-size: 1.2em;
          left: 0.3rem;
        }
      }
    }
  }

  @media (width <= 1366px) and (width > 1024px) {
    .page-footer__top,
    .page-footer__bottom {
      display: grid;
      grid-template-columns: 185fr 33fr minmax(0, 501fr) 154fr minmax(0, 413fr);
      gap: 0;
    }

    .page-footer__top > .page-footer__col:nth-child(1),
    .page-footer__bottom > .page-footer__col:nth-child(1) {
      grid-column: 1;
    }

    .page-footer__top > .page-footer__col:nth-child(2),
    .page-footer__bottom > .page-footer__col:nth-child(2) {
      grid-column: 3;
    }

    .page-footer__top > .page-footer__col:nth-child(3),
    .page-footer__bottom > .page-footer__col:nth-child(3) {
      grid-column: 5;
    }

    .page-footer__bottom {
      align-items: flex-start;
      margin-top: 4rem;
    }

    .page-footer__nav-list {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1.35fr);
      gap: 2rem;
    }

    .page-footer__requisites,
    .page-footer__copyright {
      color: rgba(17, 17, 17, 0.64);
    }
  }

  @media (width <= 1024px) and (width > 576px) {
    .page-footer__top {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: auto auto;
      column-gap: 2rem;
      row-gap: 2.3rem;
      align-items: start;
    }

    .page-footer__top > .page-footer__col:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
      flex-direction: row;
      align-items: flex-end;
      gap: 1.2rem;
    }

    .page-footer__top > .page-footer__col:nth-child(2) {
      grid-column: 1;
      grid-row: 2;
    }

    .page-footer__top > .page-footer__col:nth-child(3) {
      grid-column: 2;
      grid-row: 2;
    }

    .page-footer__col--desktop-company-info {
      display: none;
    }

    .page-footer__col--contacts {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 2rem;
      align-items: start;
    }

    .page-footer__requisites--tablet-company {
      display: block;
    }

    .page-footer__logo {
      width: 7rem;
    }

    .page-footer__copyright {
      margin-top: 0;
      font-size: 2.4rem;
      letter-spacing: -0.072rem;
      color: rgba(17, 17, 17, 0.64);
    }

    .page-footer__nav-list {
      grid-template-columns: 19.8rem minmax(0, 1fr);
      column-gap: 5.1rem;
      row-gap: 0;
    }

    .page-footer__nav-list-item {
      gap: 1.2rem;
    }

    .page-footer__nav-link {
      font-size: 1.6rem;
      line-height: 92%;
      letter-spacing: -0.048rem;
      color: #404040;
    }

    .page-footer__nav-submenu-link,
    .page-footer__address {
      font-size: 1.6rem;
      line-height: 120%;
      letter-spacing: -0.048rem;
      color: rgba(70, 70, 70, 0.64);
    }

    .page-footer__bottom {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 2rem;
      align-items: flex-start;
      margin-top: 2rem;
    }

    .page-footer__requisites {
      font-size: 1.2rem;
      letter-spacing: -0.036rem;
      color: rgba(17, 17, 17, 0.64);
    }

    .page-footer__requisites--company {
      font-size: 1.6rem;
      letter-spacing: -0.048rem;
    }
  }

  @media (width <= 576px) {
    .page-footer {
      padding: 2rem 0;
    }

    .page-footer__top {
      grid-template-columns: minmax(0, 1fr);
      gap: 2.4rem;
    }

    .page-footer__top > .page-footer__col:nth-child(1) {
      display: none;
    }

    .page-footer__nav-list {
      grid-template-columns: 9.6rem 14.8rem;
      column-gap: 6.9rem;
      row-gap: 0;
    }

    .page-footer__nav-list-item {
      gap: 1.2rem;
    }

    .page-footer__nav-link {
      font-size: 1.4rem;
      line-height: 92%;
      letter-spacing: 0;
      color: #404040;
    }

    .page-footer__nav-submenu-list {
      gap: 0.2rem;
    }

    .page-footer__nav-submenu-link,
    .page-footer__address {
      font-size: 1.4rem;
      line-height: 120%;
      letter-spacing: -0.042rem;
      color: rgba(70, 70, 70, 0.64);
    }

    .page-footer__top > .page-footer__col:nth-child(3) {
      gap: 2.4rem;
    }

    .page-footer__address {
      p + p {
        margin-top: 0.1rem;
      }
    }

    .page-footer__requisites--tablet-company {
      display: block;
    }

    .page-footer__col--desktop-company-info {
      display: none;
    }

    .page-footer__bottom {
      grid-template-columns: minmax(0, 1fr);
      margin-top: 1.8rem;
      gap: 1.8rem;
      align-items: flex-start;
    }

    .page-footer__requisites {
      font-size: 1.4rem;
      line-height: 120%;
      letter-spacing: -0.042rem;
      color: rgba(17, 17, 17, 0.64);

      ul {
        li {
          padding-left: 1.7rem;

          &::before {
            left: 0;
          }
        }
      }
    }

    .page-footer__bottom > .page-footer__col:nth-child(2) {
      .page-footer__requisites {
        line-height: 110%;
      }
    }

    .page-footer__logo {
      width: 6rem;
    }

    .page-footer__mobile-brand {
      display: flex;
      align-items: flex-end;
      gap: 0.8rem;
      margin-top: 3.2rem;
    }

    .page-footer__copyright {
      margin-top: 0;
      font-size: 1.4rem;
      line-height: 120%;
      letter-spacing: -0.042rem;
      color: rgba(17, 17, 17, 0.64);
    }
  }
}
