@layer layout {
  .page-header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 70;
    background-color: #fff;
    color: var(--text-color);
  }

  .page-header__row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1.6rem;
    grid-template-areas: "logo nav cta";
    align-items: center;
    min-height: var(--header-height);
  }

  .page-header__logo {
    grid-area: logo;
    justify-self: flex-start;

    img {
      width: 5.2rem;
    }
  }

  .page-header__nav {
    grid-area: nav;
    justify-self: center;
  }

  .page-header__menu {
    display: contents;
    @media (width <= 1024px) {
      position: fixed;
      left: 0;

      width: 100%;
      height: calc(100% - var(--header-height));
      display: block;
      background-color: white;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-2rem);
      transition:
        opacity 0.25s,
        transform 0.25s,
        visibility 0.25s;
      z-index: 40;
      top: var(--header-height, 0);
    }

    @media (width <= 1024px) {
      &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateY(0);
      }
    }
  }

  .page-header__burger {
    display: none;
    @media (width <= 1024px) {
      width: 9rem;
      height: 4.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;
      grid-area: nav;
      align-self: center;
      justify-self: center;
      border-radius: 30rem;
      background-color: var(--primary-color);
      position: relative;

      & > span {
        position: absolute;
        width: 2.5rem;
        height: 0.1rem;
        background-color: #002435;
        transition:
          transform 0.25s,
          opacity 0.25s;
      }

      & > span:nth-child(1) {
        transform: translateY(-0.6rem);
      }

      & > span:nth-child(3) {
        transform: translateY(0.6rem);
      }

      &.active > span:nth-child(1) {
        transform: rotate(45deg);
      }

      &.active > span:nth-child(2) {
        opacity: 0;
      }

      &.active > span:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }

  .page-header__nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    row-gap: 1rem;

    @media (width <= 1024px) {
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 3rem;
      align-items: center;
    }
  }

  .page-header__nav-item {
    flex-shrink: 0;
  }

  .page-header__nav-link {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;

    @media (width <= 1024px) {
      font-size: 4rem;
      line-height: 100%;
      letter-spacing: -0.08rem;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .page-header__nav {
    @media (width <= 1024px) {
      position: absolute;
      top: 50%;
      left: 50%;
      width: max-content;
      transform: translate(-50%, -50%);
    }
  }

  .page-header__contacts {
    display: none;

    @media (width <= 1024px) {
      position: absolute;
      right: var(--container-padding);
      bottom: 2rem;
      width: 15.1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.2rem;
      color: rgb(70 70 70 / 64%);
      font-size: 1.4rem;
      line-height: 120%;
      letter-spacing: -0.042rem;
      text-align: center;
    }
  }

  .page-header__contact-link {
    color: inherit;
  }

  .page-header__btn {
    grid-area: cta;
    justify-self: flex-end;

    @media (width <= 1024px) {
      min-width: 14rem;
      padding-inline: 2rem;
    }
  }
}
