@layer layout {
  .page-header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 70;
    background-color: #fff;
    color: var(--text-color);
  }

  .page-header__row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1.6rem;
    grid-template-areas: "logo nav cta";
    align-items: center;
    min-height: var(--header-height);
  }

  .page-header__logo {
    grid-area: logo;
    justify-self: flex-start;

    img {
      width: 5.2rem;
    }
  }

  .page-header__nav {
    grid-area: nav;
    justify-self: center;
  }

  .page-header__menu {
    display: contents;
    @media (width <= 1024px) {
      display: none;
    }
  }

  .page-header__burger {
    display: none;
    @media (width <= 1024px) {
      width: 9rem;
      height: 4.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;
      grid-area: nav;
      align-self: center;
      justify-self: center;
      border-radius: 30rem;
      background-color: var(--primary-color);

      & > span {
        width: 2.5rem;
        height: 1px;
        background-color: #002435;
      }
    }
  }

  .page-header__nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    row-gap: 1rem;
  }

  .page-header__nav-item {
    flex-shrink: 0;
  }

  .page-header__nav-link {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .page-header__btn {
    grid-area: cta;
    justify-self: flex-end;
  }
}
