<section class="about">
    <div class="container">
        <div class="about__content">
            <h2 class="secondary-heading">
                о компании
            </h2>
            <div class="about__subheading">
                Аккредитованная российская ИТ-компания
            </div>
            <ul class="about__list">
                <li class="about__item">
                    <div class="about__card">
                        <div class="about__wrapper">
                            <img src="/images/about/icons/1.svg" alt="" class="about__icon">
                            <div class="about__text-content">
                                <div class="about__amount">
                                    15+
                                </div>
                                <div class="about__text">
                                    лет на рынке ИТ
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about__item">
                    <div class="about__card">
                        <div class="about__wrapper">
                            <img src="/images/about/icons/2.svg" alt="" class="about__icon">
                            <div class="about__text-content">
                                <div class="about__amount">
                                    750+
                                </div>
                                <div class="about__text">
                                    проектов для финансов, промышленности, ритейла, логистики
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about__item">
                    <div class="about__card">
                        <div class="about__wrapper">
                            <img src="/images/about/icons/3.svg" alt="" class="about__icon">
                            <div class="about__text-content">
                                <div class="about__amount">
                                    85%
                                </div>
                                <div class="about__text">
                                    клиентов с нами более 8 лет
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about__item">
                    <div class="about__card">
                        <div class="about__wrapper">
                            <img src="/images/about/icons/4.svg" alt="" class="about__icon">
                            <div class="about__text-content">
                                <div class="about__amount">
                                    82
                                </div>
                                <div class="about__text">
                                    индекс удовлетворенности клиентов
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about__item">
                    <div class="about__card">
                        <div class="about__wrapper">
                            <img src="/images/about/icons/5.svg" alt="" class="about__icon">
                            <div class="about__text-content">
                                <div class="about__amount">
                                    230+
                                </div>
                                <div class="about__text">
                                    сотрудников
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about__item">
                    <div class="about__card">
                        <div class="about__wrapper">
                            <img src="/images/about/icons/6.svg" alt="" class="about__icon">
                            <div class="about__text-content">
                                <div class="about__amount">
                                    5
                                </div>
                                <div class="about__text">
                                    филиалов в городах России
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about__item">
                    <div class="about__card">
                        <div class="about__wrapper">
                            <img src="/images/about/icons/7.svg" alt="" class="about__icon">
                            <div class="about__text-content">
                                <div class="about__text">
                                    Топ-Работодатель по версии РБК-2025
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
