<section class="about">
    <div class="container">
        <div class="content">
            <h2 class="secondary-heading">
                о компании
            </h2>
            <div class="subheading">
                Аккредитованная российская ИТ-компания
            </div>
            <ul class="list">
                <li class="item">
                    <div class="card">
                        <div class="wrapper">
                            <img src="/images/about/icons/1.svg" alt="" class="icon">
                            <div class="amount">
                                15+
                            </div>
                            <div class="text">
                                лет на рынке ИТ
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="card">
                        <div class="wrapper">
                            <img src="/images/about/icons/2.svg" alt="" class="icon">
                            <div class="amount">
                                750+
                            </div>
                            <div class="text">
                                проектов для финансов, промышленности, ритейла, логистики
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="card">
                        <div class="wrapper">
                            <img src="/images/about/icons/3.svg" alt="" class="icon">
                            <div class="amount">
                                85%
                            </div>
                            <div class="text">
                                клиентов с нами более 8 лет
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="card">
                        <div class="wrapper">
                            <img src="/images/about/icons/4.svg" alt="" class="icon">
                            <div class="amount">
                                82
                            </div>
                            <div class="text">
                                индекс удовлетворенности клиентов
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="card">
                        <div class="wrapper">
                            <img src="/images/about/icons/5.svg" alt="" class="icon">
                            <div class="amount">
                                230+
                            </div>
                            <div class="text">
                                сотрудников
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="card">
                        <div class="wrapper">
                            <img src="/images/about/icons/6.svg" alt="" class="icon">
                            <div class="amount">
                                5
                            </div>
                            <div class="text">
                                филиалов в городах России
                            </div>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="card">
                        <div class="wrapper">
                            <img src="/images/about/icons/7.svg" alt="" class="icon">

                            <div class="text">
                                Топ-Работодатель по версии РБК-2025
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>