<section class="career-work" aria-labelledby="career-work-title">
    <h2 class="career-work__title" id="career-work-title">Хотим с тобой работать</h2>

    <picture>
        <source media="(max-width: 576px)" srcset="/images/career-team/360.webp">
        <source media="(max-width: 1024px)" srcset="/images/career-team/1025.webp">
        <source media="(max-width: 1366px)" srcset="/images/career-team/1366.webp">
        <img class="career-work__image" src="/images/career-team/1920.webp" alt="Команда BIV" width="1920" height="631" loading="lazy" decoding="async">
    </picture>
</section>
