<section class="career-team" aria-labelledby="career-team-title">
    <h2 class="career-team__title" id="career-team-title">{{careerTeam.title}}</h2>

    <ul class="career-team__gallery">
        {{#each careerTeam.items}}
            <li class="career-team__item">
                <div class="career-team__media">
                    <img class="career-team__image" src="{{image}}" alt="{{imageAlt}}" loading="lazy" decoding="async">
                </div>
            </li>
        {{/each}}
    </ul>
</section>
