<section class="career">
    <div class="career__bg">
        <img src="/images/career/bg.webp" alt="">
    </div>
    <div class="container">
        <div class="career__row">
            <div class="career__left">
                <h2 class="secondary-heading career__heading">
                    карьера
                </h2>
                <a href="#" class="btn career__btn">
                    Узнать больше
                </a>
            </div>
            <div class="career__right">
                <ul class="career__list">
                    <li class="career__list-item">
                        <a href="#" class="career__link">
                            Почему нас выбирают?
                            <span class="career__link-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrows/right"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="career__list-item">
                        <a href="#" class="career__link">
                            Развитие сотрудников в компании
                            <span class="career__link-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrows/right"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="career__list-item">
                        <a href="#" class="career__link">
                            Вакансии
                            <span class="career__link-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrows/right"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="career__list-item">
                        <a href="#" class="career__link">
                            Развитие талантов - Стажировка в BIV
                            <span class="career__link-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrows/right"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="career__list-item">
                        <a href="#" class="career__link">
                            Этапы отбора
                            <span class="career__link-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrows/right"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="career__list-item">
                        <a href="#" class="career__link">
                            Офис - место, где мы хотим работать
                            <span class="career__link-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrows/right"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                    <li class="career__list-item">
                        <a href="#" class="career__link">
                            Поддержка и забота
                            <span class="career__link-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrows/right"></use>
                                </svg>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>