<section class="contact-us">
    <div class="container">
        <div class="contact-us__stack">
            <div class="contact-us__content">
                <h2 class="contact-us__heading">
                    контакты
                </h2>
                <form action="/" method="POST" class="contact-us__form">
                    <div class="contact-us__form-fields">
                        <div class="contact-us__form-field">
                            <div class="contact-us__form-input-wrapper">
                                <input type="text" class="contact-us__form-input" placeholder="Ваше имя*"
                                    name="your-name" required>
                            </div>
                        </div>
                        <div class="contact-us__form-field">
                            <div class="contact-us__form-input-wrapper">
                                <input type="tel" class="contact-us__form-input" placeholder="телефон" name="your-phone"
                                    required>
                            </div>
                        </div>
                        <div class="contact-us__form-field">
                            <div class="contact-us__form-input-wrapper">
                                <input type="email" class="contact-us__form-input" placeholder="E-mail"
                                    name="your-email" required>
                            </div>
                        </div>
                        <div class="contact-us__form-field">
                            <div class="contact-us__form-input-wrapper">
                                <textarea name="your-comment" class="contact-us__form-input"
                                    placeholder="Ваше сообщение"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="contact-us__form-policy">
                        <label class="contact-us__form-policy-checkbox">
                            <input type="checkbox" name="policy" value="Y"
                                class="contact-us__form-policy-checkbox-input">
                            <span class="contact-us__form-policy-checkbox-mark">

                            </span>
                            <span class="contact-us__form-policy-checkbox-text">
                                Нажимая на кнопку «Отправить», подтверждаю своё согласие с <a href="#">обработкой
                                    персональных
                                    данных</a> и положениями <a href="#">Политики конфиденциальности</a>
                            </span>
                        </label>
                    </div>
                    <button class="btn contact-us__form-submit" type="submit">
                        Отправить
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>