<section class="leaders" data-leaders-logos='{{json leaders}}'>
    <div class="container">
        <div class="leaders__content">
            <div class="leaders__right">
                <div class="leaders__grid">
                    <div class="leaders__row">
                        <div class="leaders__circle" data-leaders-circle data-leaders-mobile></div>
                        <div class="leaders__circle"></div>
                    </div>
                    <div class="leaders__row">
                        <div class="leaders__circle" data-leaders-circle></div>
                        <div class="leaders__circle" data-leaders-circle></div>
                        <div class="leaders__circle"></div>
                    </div>
                    <div class="leaders__row">
                        <div class="leaders__circle" data-leaders-circle></div>
                        <div class="leaders__circle" data-leaders-circle></div>
                        <div class="leaders__circle" data-leaders-circle></div>
                        <div class="leaders__circle"></div>
                    </div>
                    <div class="leaders__row">
                        <div class="leaders__circle" data-leaders-circle data-leaders-desktop></div>
                        <div class="leaders__circle" data-leaders-circle></div>
                        <div class="leaders__circle" data-leaders-circle></div>
                        <div class="leaders__circle" data-leaders-circle></div>
                        <div class="leaders__circle"></div>
                    </div>
                    <div class="leaders__row">
                        <div class="leaders__circle"></div>
                        <div class="leaders__circle"></div>
                        <div class="leaders__circle"></div>
                        <div class="leaders__circle"></div>
                        <div class="leaders__circle"></div>
                        <div class="leaders__circle"></div>
                    </div>
                </div>
            </div>
            <div class="leaders__left">
                <h2 class="secondary-heading leaders__heading">
                    работаем
                    с&nbsp;лидерами рынка
                </h2>
                <a href="#" class="btn btn--white leaders__show-more" data-leaders-swap>
                    Показать еще
                </a>
            </div>
        </div>
    </div>
</section>
