<section class="leaders">
    <div class="container">
        <div class="leaders__content">
            <div class="leaders__right">
                <div class="leaders__grid">
                    <div class="leaders__row">
                        <div class="leaders__circle">

                        </div>
                        <div class="leaders__circle">

                        </div>
                    </div>
                    <div class="leaders__row">
                        <div class="leaders__circle">
                            <img src="/images/leaders/1.svg" alt="">
                        </div>
                        <div class="leaders__circle">
                            <img src="/images/leaders/2.svg" alt="">
                        </div>
                        <div class="leaders__circle">

                        </div>
                    </div>
                    <div class="leaders__row">
                        <div class="leaders__circle">
                            <img src="/images/leaders/3.webp" alt="">
                        </div>
                        <div class="leaders__circle">
                            <img src="/images/leaders/4.svg" alt="">
                        </div>
                        <div class="leaders__circle">
                            <img src="/images/leaders/5.svg" alt="">
                        </div>
                        <div class="leaders__circle">

                        </div>
                    </div>
                    <div class="leaders__row">
                        <div class="leaders__circle">
                            <img src="/images/leaders/6.svg" alt="">
                        </div>
                        <div class="leaders__circle">
                            <img src="/images/leaders/7.svg" alt="">
                        </div>
                        <div class="leaders__circle">
                            <img src="/images/leaders/8.svg" alt="">
                        </div>
                        <div class="leaders__circle">
                            <img src="/images/leaders/9.svg" alt="">
                        </div>
                        <div class="leaders__circle">

                        </div>
                    </div>
                    <div class="leaders__row">
                        <div class="leaders__circle">

                        </div>
                        <div class="leaders__circle">

                        </div>
                        <div class="leaders__circle">

                        </div>
                        <div class="leaders__circle">

                        </div>
                        <div class="leaders__circle">

                        </div>
                        <div class="leaders__circle">

                        </div>
                    </div>
                </div>
            </div>
            <div class="leaders__left">
                <h2 class="secondary-heading">
                    работаем
                    с&nbsp;лидерами рынка
                </h2>
                <a href="#" class="btn btn--white leaders__show-more">
                    Показать еще
                </a>
            </div>
        </div>
    </div>
</section>
