<section class="platform">
    <div class="container">
        <h2 class="secondary-heading platform__heading">
            BIV PLATFORM
        </h2>
        <div class="platform__subheading">
            Платформа для ускоренной разработки веб-приложений
        </div>
        <div class="platform__slider">
            <div class="platform__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {{#each platformCards}}
                        <div class="swiper-slide">
                            {{> components/cards/platform-slider-card }}
                        </div>
                        {{/each}}
                        {{#each platformCards}}
                        <div class="swiper-slide">
                            {{> components/cards/platform-slider-card }}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="platform__slider-controls">
                <button class="platform__slider-arrow platform__slider-arrow--prev">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrows/left"></use>
                    </svg>
                </button>
                <div class="platform__slider-pagination">

                </div>
                <button class="platform__slider-arrow platform__slider-arrow--next">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrows/right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>