<section class="platform">
    <div class="container">
        <h2 class="secondary-heading platform__heading">
            BIV PLATFORM
        </h2>
        <div class="platform__subheading">
            Платформа для ускоренной разработки веб-приложений
        </div>
        <div class="platform__slider">
            <div class="platform__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="platform__slider-card">
                                <div class="platform__slider-card-bg">
                                    <img src="/images/platform/1.webp" alt="">
                                </div>
                                <div class="platform__slider-card-content">
                                    <h3 class="platform__slider-card-title">
                                        Low code + Pro Code
                                    </h3>
                                    <div class="platform__slider-card-text">
                                        Относится к классу low code-платформа с расширенными PRO Code возможностями
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="platform__slider-card">
                                <div class="platform__slider-card-bg">
                                    <img src="/images/platform/2.webp" alt="">
                                </div>
                                <div class="platform__slider-card-content">
                                    <h3 class="platform__slider-card-title">
                                        Технологический суверенитет
                                    </h3>
                                    <div class="platform__slider-card-text">
                                        Включен в реестр российского ПО: 19858
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="platform__slider-card">
                                <div class="platform__slider-card-bg">
                                    <img src="/images/platform/3.webp" alt="">
                                </div>
                                <div class="platform__slider-card-content">
                                    <h3 class="platform__slider-card-title">
                                        Свобода от vendor lock-in
                                    </h3>
                                    <div class="platform__slider-card-text">
                                        Передаём исходный код, вы сохраняете полный контроль над проектом
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="platform__slider-card">
                                <div class="platform__slider-card-bg">
                                    <img src="/images/platform/4.webp" alt="">
                                </div>
                                <div class="platform__slider-card-content">
                                    <h3 class="platform__slider-card-title">
                                        Single-stack подход
                                    </h3>
                                    <div class="platform__slider-card-text">
                                        Ускорение работы команды разработки: один разработчик = один микросервис
                                        от логики до интерфейса
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="platform__slider-card">
                                <div class="platform__slider-card-bg">
                                    <img src="/images/platform/5.webp" alt="">
                                </div>
                                <div class="platform__slider-card-content">
                                    <h3 class="platform__slider-card-title">
                                        Гибкость на фронтенде
                                    </h3>
                                    <div class="platform__slider-card-text">
                                        Часть интерфейса формируется посредством SDUI, часть — классическим способом
                                        на Angular
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>