<section class="portfolio">
    <div class="container">
        <div class="top">
            <h2 class="secondary-heading">
                портфолио
            </h2>
            <a href="#" class="btn">
                Смотреть кейсы
            </a>
        </div>
        <ul class="list">
            <li class="item">
                <a href="#" class="portfolio-card">
                    <div class="top">
                        <h3 class="title">
                            Оптимизация маршрутов транспортной компании
                        </h3>
                        <div class="arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrows/right"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="image">
                        <img src="/images/portfolio-card/1-hovered.webp" alt="" class="hovered">
                        <img src="/images/portfolio-card/1.webp" alt="">
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="#" class="portfolio-card">
                    <div class="top">
                        <h3 class="title">
                            Автоматизация ОСАГО
                        </h3>
                        <div class="arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrows/right"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="image">
                        <img src="/images/portfolio-card/2.webp" alt="">
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="#" class="portfolio-card">
                    <div class="top">
                        <h3 class="title">
                            Разработка личного кабинета для страховой компании
                        </h3>
                        <div class="arrow">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrows/right"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="image">
                        <img src="/images/portfolio-card/3.webp" alt="">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>