<section class="services">
    <div class="container">
        <h2 class="secondary-heading">
            услуги
        </h2>
        <ul class="services__list">
            <li class="services__item">
                <div class="services__accordion js-accordion">
                    <div class="services__accordion-content">
                        <div class="services__accordion-title">
                            Заказная разработка ПО
                        </div>
                        <div class="services__accordion-dropdown js-accordion-dropdown">
                            <div class="services__accordion-inner">
                                <div class="services__accordion-desc">
                                    <ul>
                                        <li>
                                            Рефакторинг и реструктуризация кода
                                        </li>
                                        <li>
                                            Декомпозиции монолитных архитектур (Software Re-architecturing)
                                        </li>
                                        <li>
                                            Модернизация технологического стека и перенос приложений в современные
                                            среды
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__accordion-image">
                        <img src="/images/services/1.webp" alt="">
                    </div>
                    <button class="services__accordion-toggle js-accordion-btn"></button>
                </div>
            </li>
            <li class="services__item">
                <div class="services__accordion js-accordion">
                    <div class="services__accordion-content">
                        <div class="services__accordion-title">
                            Мобильная разработка
                        </div>
                        <div class="services__accordion-dropdown js-accordion-dropdown">
                            <div class="services__accordion-inner">
                                <div class="services__accordion-desc">
                                    <ul>
                                        <li>
                                            Рефакторинг и реструктуризация кода
                                        </li>
                                        <li>
                                            Декомпозиции монолитных архитектур (Software Re-architecturing)
                                        </li>
                                        <li>
                                            Модернизация технологического стека и перенос приложений в современные
                                            среды
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__accordion-image">
                        <img src="/images/services/5.webp" alt="" style="--y-offset: 35%;">
                    </div>
                    <button class="services__accordion-toggle js-accordion-btn"></button>
                </div>
            </li>
            <li class="services__item">
                <div class="services__accordion js-accordion">
                    <div class="services__accordion-content">
                        <div class="services__accordion-title">
                            Модернизация ИТ-систем
                        </div>
                        <div class="services__accordion-dropdown js-accordion-dropdown">
                            <div class="services__accordion-inner">
                                <div class="services__accordion-desc">
                                    <ul>
                                        <li>
                                            Рефакторинг и реструктуризация кода
                                        </li>
                                        <li>
                                            Декомпозиции монолитных архитектур (Software Re-architecturing)
                                        </li>
                                        <li>
                                            Модернизация технологического стека и перенос приложений в современные
                                            среды
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__accordion-image">
                        <img src="/images/services/3.webp" alt="">
                    </div>
                    <button class="services__accordion-toggle js-accordion-btn"></button>
                </div>
            </li>
            <li class="services__item">
                <div class="services__accordion js-accordion">
                    <div class="services__accordion-content">
                        <div class="services__accordion-title">
                            Управление качеством ПО
                        </div>
                        <div class="services__accordion-dropdown js-accordion-dropdown">
                            <div class="services__accordion-inner">
                                <div class="services__accordion-desc">
                                    <ul>
                                        <li>
                                            Рефакторинг и реструктуризация кода
                                        </li>
                                        <li>
                                            Декомпозиции монолитных архитектур (Software Re-architecturing)
                                        </li>
                                        <li>
                                            Модернизация технологического стека и перенос приложений в современные
                                            среды
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services__accordion-image">
                        <img src="/images/services/4.webp" alt="" style="--y-offset: 35%;">
                    </div>
                    <button class="services__accordion-toggle js-accordion-btn"></button>
                </div>
            </li>
        </ul>
        <a href="#" class="btn btn--outline services__show-more">
            Показать еще
        </a>
    </div>
</section>