<section class="services">
    <div class="container">
        <h2 class="secondary-heading">
            решения
        </h2>
        <ul class="services__list">
            {{#each solutions}}
                <li class="services__item">
                    {{> components/cards/services-accordion-card }}
                </li>
            {{/each}}
        </ul>
        <a href="#" class="btn btn--outline services__show-more services__show-more--centered">
            Показать еще
        </a>
    </div>
</section>
