<section class="services">
    <div class="container">
        <h2 class="secondary-heading">
            решения
        </h2>
        <ul class="list">
            <li class="item">
                <div class="accordion accordion--reverse js-accordion">
                    <div class="accordion-content">
                        <div class="accordion-title">
                            Автоматизация страховых продуктов
                        </div>
                        <div class="accordion-dropdown js-accordion-dropdown">
                            <div class="accordion-inner">
                                <div class="accordion-desc">
                                    <ul>
                                        <li>
                                            Клиентские порталы
                                        </li>
                                        <li>
                                            Экстранет-порталы и партнёрские кабинеты (B2B)
                                        </li>
                                        <li>
                                            Интранет-порталы
                                        </li>
                                        <li>
                                            Системы управления доступом (IAM)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-image">
                        <img src="/images/services/1.webp" alt="">
                    </div>
                    <button class="accordion-toggle js-accordion-btn"></button>
                </div>
            </li>
            <li class="item">
                <div class="accordion accordion--reverse js-accordion">
                    <div class="accordion-content">
                        <div class="accordion-title">
                            Импортозамещение
                        </div>
                        <div class="accordion-dropdown js-accordion-dropdown">
                            <div class="accordion-inner">
                                <div class="accordion-desc">
                                    <ul>
                                        <li>
                                            Клиентские порталы
                                        </li>
                                        <li>
                                            Экстранет-порталы и партнёрские кабинеты (B2B)
                                        </li>
                                        <li>
                                            Интранет-порталы
                                        </li>
                                        <li>
                                            Системы управления доступом (IAM)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-image">
                        <img src="/images/services/2.webp" alt="" style="--y-offset: 35%;">
                    </div>
                    <button class="accordion-toggle js-accordion-btn"></button>
                </div>
            </li>
            <li class="item">
                <div class="accordion accordion--reverse js-accordion">
                    <div class="accordion-content">
                        <div class="accordion-title">
                            Разработка личных кабинетов
                        </div>
                        <div class="accordion-dropdown js-accordion-dropdown">
                            <div class="accordion-inner">
                                <div class="accordion-desc">
                                    <ul>
                                        <li>
                                            Клиентские порталы
                                        </li>
                                        <li>
                                            Экстранет-порталы и партнёрские кабинеты (B2B)
                                        </li>
                                        <li>
                                            Интранет-порталы
                                        </li>
                                        <li>
                                            Системы управления доступом (IAM)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-image">
                        <img src="/images/services/3.webp" alt="">
                    </div>
                    <button class="accordion-toggle js-accordion-btn"></button>
                </div>
            </li>
            <li class="item">
                <div class="accordion accordion--reverse js-accordion">
                    <div class="accordion-content">
                        <div class="accordion-title">
                            Разработка HR-порталов
                        </div>
                        <div class="accordion-dropdown js-accordion-dropdown">
                            <div class="accordion-inner">
                                <div class="accordion-desc">
                                    <ul>
                                        <li>
                                            Клиентские порталы
                                        </li>
                                        <li>
                                            Экстранет-порталы и партнёрские кабинеты (B2B)
                                        </li>
                                        <li>
                                            Интранет-порталы
                                        </li>
                                        <li>
                                            Системы управления доступом (IAM)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-image">
                        <img src="/images/services/4.webp" alt="" style="--y-offset: 35%;">
                    </div>
                    <button class="accordion-toggle js-accordion-btn"></button>
                </div>
            </li>
        </ul>
        <a href="#" class="btn btn--outline show-more show-more--centered">
            Показать еще
        </a>
    </div>
</section>