<section class="team">
    <div class="container">
        <div class="team__top-row">
            <h2 class="secondary-heading team__heading">
                команда
            </h2>
            <a href="#" class="btn btn--outline team__btn">
                Показать еще
            </a>
        </div>
        <div class="team__stack">
            <div class="team__image-wrapper">
                <picture>
                    <source media="(width <= 576px)" srcset="/images/team/576.webp">
                    <source media="(width <= 1024px)" srcset="/images/team/1024.webp">
                    <source media="(width <= 1366px)" srcset="/images/team/1366.webp">
                    <img src="/images/team/1920.webp" alt="Команда" class="team__image">
                </picture>
            </div>
            <div class="team__image-wrapper">
                <picture>
                    <source media="(width <= 576px)" srcset="/images/team/576.webp">
                    <source media="(width <= 1024px)" srcset="/images/team/1024.webp">
                    <source media="(width <= 1366px)" srcset="/images/team/1366.webp">
                    <img src="/images/team/1920.webp" alt="Команда" class="team__image">
                </picture>
            </div>
            <div class="team__image-wrapper">
                <picture>
                    <source media="(width <= 576px)" srcset="/images/team/576.webp">
                    <source media="(width <= 1024px)" srcset="/images/team/1024.webp">
                    <source media="(width <= 1366px)" srcset="/images/team/1366.webp">
                    <img src="/images/team/1920.webp" alt="Команда" class="team__image">
                </picture>
            </div>
            <div class="team__image-wrapper">
                <picture>
                    <source media="(width <= 576px)" srcset="/images/team/576.webp">
                    <source media="(width <= 1024px)" srcset="/images/team/1024.webp">
                    <source media="(width <= 1366px)" srcset="/images/team/1366.webp">
                    <img src="/images/team/1920.webp" alt="Команда" class="team__image">
                </picture>
            </div>
        </div>
    </div>
</section>