<section class="team">
    <div class="container">
        <div class="team__row">
            <h2 class="secondary-heading">
                команда
            </h2>
            <a href="#" class="btn btn--outline">
                Показать еще
            </a>
        </div>
        <div class="team__bg">
            <picture>
                <source srcset="/images/team/bg-mobile.webp" media="(width <= 576px)" />
                <img src="/images/team/bg.webp" alt="">
            </picture>
        </div>
    </div>
</section>