<section class="technologies">
    <div class="container">
        <div class="technologies__content">
            <div class="technologies__orb">
                <img src="/images/technologies/orb.webp" alt="">
                <h2 class="secondary-heading technologies__heading">
                    технологии
                </h2>
            </div>
            <ul class="technologies__cloud">
                <li class="technologies__cloud-item">JAVA</li>
                <li class="technologies__cloud-item">SPRING<br>BOOT</li>
                <li class="technologies__cloud-item">MS SQL</li>
                <li class="technologies__cloud-item">POSTGRE<br>SQL</li>
                <li class="technologies__cloud-item">VUE</li>
                <li class="technologies__cloud-item">ORACLE</li>
                <li class="technologies__cloud-item">PHP</li>
                <li class="technologies__cloud-item">C#</li>
                <li class="technologies__cloud-item">SELENIUM<br>IDE</li>
                <li class="technologies__cloud-item">POSTMAN</li>
                <li class="technologies__cloud-item">REACT</li>
                <li class="technologies__cloud-item">HTML<br>CSS</li>
                <li class="technologies__cloud-item">ANDROID<br>STUDIO</li>
                <li class="technologies__cloud-item">SWAGGER</li>
                <li class="technologies__cloud-item">CHROME<br>DEVTOOLS</li>
                <li class="technologies__cloud-item">JENKINS</li>
                <li class="technologies__cloud-item">GITLAB CI</li>
                <li class="technologies__cloud-item">GO GOANG</li>
                <li class="technologies__cloud-item">RUBY<br>RUBY ON RAILS</li>
                <li class="technologies__cloud-item">WEBPACK</li>
                <li class="technologies__cloud-item">JAVASCRIPT</li>
                <li class="technologies__cloud-item">SOAP UI</li>
                <li class="technologies__cloud-item">KOTLIN</li>
            </ul>
        </div>
    </div>
</section>
