<section class="technologies">
    <div class="container">
        <div class="technologies__content">
            <div class="technologies__orb">
                <img src="/images/technologies/orb.webp" alt="">
                <h2 class="secondary-heading technologies__heading">
                    технологии
                </h2>
            </div>
            <ul class="technologies__cloud">
                <li class="technologies__cloud-item">WEBPACK</li>
                <li class="technologies__cloud-item">JAVA / JAVA EE</li>
                <li class="technologies__cloud-item">RUBY<br>RUBY ON RAILS</li>
                <li class="technologies__cloud-item">JAVASCRIPT</li>
                <li class="technologies__cloud-item">HTML</li>
                <li class="technologies__cloud-item">BLITZ</li>
                <li class="technologies__cloud-item">ANDROID<br>STUDIO</li>
                <li class="technologies__cloud-item">CSS</li>
                <li class="technologies__cloud-item">C#</li>
                <li class="technologies__cloud-item">CHROME<br>DEVTOOLS</li>
                <li class="technologies__cloud-item">ORACLE</li>
                <li class="technologies__cloud-item">JENKINS</li>
                <li class="technologies__cloud-item">VUE.JS</li>
                <li class="technologies__cloud-item">SELENIUM<br>IDE</li>
                <li class="technologies__cloud-item">PHP</li>
                <li class="technologies__cloud-item">SPRING<br>BOOT</li>
                <li class="technologies__cloud-item">RXJS</li>
                <li class="technologies__cloud-item">SPRING</li>
                <li class="technologies__cloud-item">MYSQL</li>
                <li class="technologies__cloud-item">REACT<br>(TYPESCRIPT)</li>
                <li class="technologies__cloud-item">KARMA</li>
                <li class="technologies__cloud-item">SWAGGER</li>
                <li class="technologies__cloud-item">INSOMNIA</li>
            </ul>
        </div>
    </div>
</section>