<section class="technologies">
    <div class="container">
        <div class="technologies__content">
            <div class="technologies__orb">
                <img src="/images/technologies/orb.webp" alt="">
                <h2 class="secondary-heading technologies__heading">
                    технологии
                </h2>
            </div>
            <div class="technologies__cloud">
                {{#each technologiesSlides}}
                <ul class="technologies__cloud-slide{{#if @first}} is-active{{/if}}" aria-hidden="{{#if @first}}false{{else}}true{{/if}}">
                    {{#each items}}
                    <li class="technologies__cloud-item technologies__cloud-item--{{modifier}}">{{{label}}}</li>
                    {{/each}}
                </ul>
                {{/each}}
            </div>
        </div>
    </div>
</section>
