@layer components {
  .secondary-heading {
    font-size: 8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.16rem;
    text-transform: uppercase;
  }
}
