@layer components {
  .secondary-heading {
    font-size: 8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
    letter-spacing: -0.16rem;
    text-transform: uppercase;
    text-wrap: balance;

    @media (width <= 1366px) {
      line-height: 94%;
    }
  }
}
